---
import Layout from "../layouts/Layout.astro";

import GsapTest from "../components/GsapTest.astro";
import VueTest from "../components/VueTest.vue";
---

<Layout title="" description="">
  <main>
    <h1>Welcome to Astro</h1>

    <h2>component test</h2>
    <GsapTest />
    <VueTest client:load />
  </main>
</Layout>

<style lang="scss" scoped>
  h2 {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
  }
</style>
