<div>
  <div class="box gsap-fadeUp"></div>
  <div class="box gsap-fadeUp"></div>
</div>

<style lang="scss" scoped>
  .box {
    margin-top: 20px;
    background-color: #1cb4d3;
    height: 100px;
    width: 100px;
  }
</style>
