@charset "utf-8";
@use "./_variables" as *;
@use "./_mixin" as *;

body {
  font-family: $font;
}

@include mq(pc) {
  a {
    transition: all 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
}

.container {
  @include mq() {
  }
}

.display {
  &-sp {
    display: none;
    @include mq() {
      display: block;
    }
  }
  &-pc {
    display: block;
    @include mq() {
      display: none;
    }
  }
}
