@charset "utf-8";
@use "./_variables" as *;
@use "./_mixin" as *;

body {
  background-image: url("/src/assets/animal/cat.jpg");
  background-size: contain;
}

a {
  transition: all 0.3s;
  &:hover {
    opacity: 0.7;
  }
}
